* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.button {
    width: 10vw;
    height: 10vw;
    padding: 0;
    border-width:0;
    background-color: #141918;
    color: white;
    font-weight: 400;
    font-size: 1.3em;
    -webkit-transition: all 0.6s ease;
}

.pantallaOperaciones, .pantallaResultado
{
    min-height: 8vw;
    width: 40vw;
    background-color: black;
    color: white;
    font-weight: 800;
    font-size: 1.3em;
    text-align: right;
    margin: 0;
}

.calculadora {
    width: 40vw;
    box-shadow: 0 0 7px 0 gray;
}

body {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}

.equals{
    width: 20vw;
    background-color: rgb(248, 147, 45);
}

.operator:not(.equals){
    color: #FFA242 !important
}

#C {
    width: 20vw !important;
}

.espacioHistorico, .historicoContenedor {
    width: 40vw;
    height: 4vw;
}

.historico{
    background-color: indianred;
    position: fixed;
    top: 16vw;
    width: 40vw;
    height: 4vw;
    -webkit-transition: all 0.6s ease;
    z-index: 10;
    margin-top:8px;
    font-size: 0;
}

.historico:hover{
    height: 54vw;
    font-size: 1.3em;
}

.pantallas {
    position: relative;
    z-index: 20;
}

.teclado { 
    position: relative;
    z-index: 5;
}