* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculadora {
    width: 40vw;
    box-shadow: 0 0 20px 0px black;
    max-width: 400px;
    min-width: 280px;
}

.button {
    width: 10vw;
    max-width: 100px;
    max-height: 100px;
    min-width: 70px;
    min-height: 70px;

    height: 10vw;
    padding: 0;
    border-width:0;
    background-color: #141918;
    color: white;
    font-weight: 400;
    font-size: 1.3em;
    -webkit-transition: all 0.6s ease;

}

.pantallaOperaciones, .pantallaResultado
{
    height: 8vw;
    width: 40vw;
    max-width: 400px;
    max-height: 80px;
    background-color: black;
    color: white;
    font-weight: 800;
    font-size: 1.3em;
    text-align: right;
    margin: 0;
    min-width: 280px;
    min-height: 66px;
    padding: 20px;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}

.equals{
    width: 20vw;
    max-width: 200px;
    max-height: 100px;
    background-color: rgb(248, 147, 45);
    min-width: 140px;
}

.operator:not(.equals){
    color: #FFA242 !important
}

#C {
    width: 20vw;
    max-width: 200px;
    min-width: 140px;
}

.espacioHistorico, .historicoContenedor {
    width: 40vw;
    min-width: 280px;
    max-width: 400px;
    height: 2vw;
    max-height: 25px;
}

.historico{
    background-color: #3a3a3a;
    position: relative;
    width: 40vw;
    max-width: 400px;
    height: 2vw;
    max-height: 525px;
    -webkit-transition: all 1s ease;
    z-index: 10;
    font-size: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    min-width: 280px;
}

.historico:hover{
    height: 79.5vw;
    font-size: 1.3em;
    overflow-y: hidden;
    overflow-x: hidden;
}

.pantallas {
    margin: auto;
    position: relative;
    z-index: 20;
}

.teclado { 
    position: relative;
    z-index: 5;
}

.elementoHistorial {
    width: 40vw;
    min-width: 280px;
    color: white;
    -webkit-box-sizing: border-box;
    padding: 20px;
}

.elementoHistorial:hover {
    background-color: #444444;
}

.pantallaOperaciones.show{
    -webkit-transition: all 0.3s ease;
    font-size: 2.2em;
} 

.pantallaOperaciones{
    -webkit-transition: all 0.3s ease;
    font-size: 1.3em;
} 

.button:active {
    box-shadow: inset 0 0 50px gray !important;
}

.button:hover { 
    box-shadow: inset 0 0 30px gray;
}